/* index.module.scss */
.aboutContainer {
  margin-top: 100px;
  padding: 20px 120px;
  width: 100vw;
  height: calc(100vh - 120px); /* Adjust height to account for header */
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  background: #f0f0f0; /* light gray background */
  .aboutText {
    
    h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 20px;
      -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          span{
            color: white;
            padding: 5px 10px;
            border-radius: 15px;
            background: linear-gradient(90deg, #0070f3, #7928ca);;
          }
      
    }
    p {
      font-size: 1.2rem;
      color: #666;
      line-height: 1.6;
      margin-bottom: 20px;
      -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
  }
}
.swiperContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .swiper {
    width: 230px;
    height: 400px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    opacity: 0;
    animation: unfold 1s ease-out forwards;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
   
  }

  .swiper1 {
    @extend .swiper;
    --angle: -10deg;
    left: 0;
    top: 40%;
    animation-delay: 0.1s;
    
  }

  .swiper2 {
    @extend .swiper;

    --angle: 10deg;
    right: 0;
    top: 40%;
    animation-delay: 0.2s;
  }

  .swiper3 {
    @extend .swiper;

    --angle: 5deg;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 0.3s;
  }
  .swiper4 {
    @extend .swiper;

    --angle: -5deg;
    left: 25%;
    transform: translate(-50%, -50%);
    animation-delay: 0.3s;
  }
  .swiper5 {
    @extend .swiper;

    --angle: -10deg;
    left: 20%;
    z-index: 12;
    top: 55%;
    transform: translate(-50%, -50%);
    animation-delay: 0.3s;
  }
  .swiper6 {
    @extend .swiper;

    --angle: 10deg;
    right: 20%;
    top: 55%;
    transform: translate(-50%, -50%);
    animation-delay: 0.3s;
  }
}

@keyframes unfold {
  0% {
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) rotate(var(--angle, 0deg)) scale(1);
    opacity: 1;
  }
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.commentSection{

  padding:  100px 120px;
  h2{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    span{
      color: white;
      padding: 5px 10px;
      border-radius: 15px;
      background: linear-gradient(90deg, #0070f3, #7928ca);;
    }
  }
  .commentCardsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 300px;
 
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
}